autopep8==1.5.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cppyy==1.9.1
cppyy-backend==1.14.1
cppyy-cling==6.21.4
CPyCppyy==1.12.0
Flask==1.1.2
Flask-Cors==3.0.9
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.4
opencv-python==4.4.0.46
pycodestyle==2.6.0
requests==2.25.1
six==1.15.0
toml==0.10.2
urllib3==1.26.2
Werkzeug==1.0.1
